@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  background-color: #1a1a1a;
  color: white;
  position: sticky;
}

body {
  overflow-y: scroll;
}

/* :root::-webkit-scrollbar {
  display: none;
} */